In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 스케일링

대상 : Numerical한 변수 전체

Scaler : MinMaxScaler

In [2]:
df = pd.read_excel('./feature_preprocessed.xlsx', engine='openpyxl')
df.head()

,author,year,genre,source,date,price,area,base_charcoal,base_paper,base_fiber,...,mate_collage,mate_engrave,mate_crayon,mate_enamel,mate_oilpastel,online,KOSPI_Close,WTI_Close,rate_Close,estate_rate
0,0,1968,1,2,2021-06-30,900000,4507,0,1,0,...,0,0,0,0,0,1,3296.68,73.47,"1,130.48",116.6
1,0,2015,1,1,2021-06-23,850000,7270,0,1,0,...,0,0,0,0,0,1,3276.19,73.08,"1,135.85",116.6
2,0,1969,0,0,2021-06-23,680000000,10302,0,0,1,...,0,0,0,0,0,0,3276.19,73.08,"1,135.85",116.6
3,0,1971,0,1,2021-06-22,3050000000,22266,0,0,1,...,0,0,0,0,0,0,3263.88,73.06,"1,133.57",116.6
4,0,1968,0,1,2021-06-22,72000000,2169,0,1,0,...,0,0,0,0,0,0,3263.88,73.06,"1,133.57",116.6

In [8]:
y = df['price']
x = df.drop(['price','date'], axis=1)

In [11]:
x.columns

Index(['author', 'year', 'genre', 'source', 'area', 'base_charcoal',
       'base_paper', 'base_fiber', 'base_canvas', 'base_hardboard',
       'base_hanji', 'base_ceramic', 'base_terracotta', 'base_masonite',
       'base_wood', 'base_leaf', 'base_silverpaper', 'base_metal',
       'mate_gouache', 'mate_maca', 'mate_magic', 'mate_signpen',
       'mate_colorpencil', 'mate_korean_ink', 'mate_korean_ink_and_color',
       'mate_watercolor', 'mate_pencil', 'mate_oil', 'mate_oil_and_color',
       'mate_ink', 'mate_color', 'mate_pen', 'mate_mixture', 'mate_pigment',
       'mate_graphite', 'mate_acrylic', 'mate_conte', 'mate_collage',
       'mate_engrave', 'mate_crayon', 'mate_enamel', 'mate_oilpastel',
       'online', 'KOSPI_Close', 'WTI_Close', 'rate_Close', 'estate_rate'],
      dtype='object')

In [7]:
df.describe()

,author,year,genre,source,price,area,base_charcoal,base_paper,base_fiber,base_canvas,...,mate_conte,mate_collage,mate_engrave,mate_crayon,mate_enamel,mate_oilpastel,online,KOSPI_Close,WTI_Close,estate_rate
count,8182.000000,8182.000000,8182.000000,8182.000000,8.182000e+03,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,...,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,8182.000000,7882.000000,8089.000000,8182.000000
mean,14.017355,1984.997189,0.458445,1.055488,4.934924e+07,4335.944268,0.002689,0.652897,0.092154,0.189074,...,0.000733,0.004155,0.000611,0.000244,0.000122,0.001956,0.607553,2415.851610,54.524395,102.081577
std,9.837809,207.112062,0.676258,1.607753,2.359300e+08,6634.921379,0.051787,0.476078,0.289260,0.391591,...,0.027072,0.064333,0.024714,0.015634,0.011055,0.044181,0.488325,407.392155,11.903308,6.386540
min,0.000000,19.000000,0.000000,0.000000,5.000000e+04,66.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1482.460000,-37.630000,95.700000
25%,4.000000,1976.000000,0.000000,0.000000,8.500000e+05,1072.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2108.220000,48.030000,97.100000
50%,13.000000,1989.000000,0.000000,0.000000,3.500000e+06,2415.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2309.030000,55.960000,99.830000
75%,23.000000,2003.000000,1.000000,1.000000,2.696000e+07,4405.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2515.430000,63.220000,104.900000
max,29.000000,20112.000000,7.000000,7.000000,8.527480e+09,83014.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3301.890000,75.300000,116.600000

In [9]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
fitted = min_max_scaler.fit(x)
print(fitted.data_max_)

ValueError: could not convert string to float: '1,130.48'

# 모델링

분석 방법 : 회귀

분석 기법 : Linear Regression, Ridge, Lasso, Regression Tree, SVR, Random Forest

Train_test_set_split : train 7: test 3

cv = 5

random_seed = 42

# 시각화

시각화 방법 : Feature Importance(전체 작가, 분야별 작가, 시대별 작가 등)