In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel(f'./crawling_files/artprice_total.xlsx')
df.head()

,title,author,year,standard,genre,technique,source,date,price
0,Duet,김환기,NaN,79.5×56.7cm,판화,"오프셋 프린트, 스크린 프린트(사후판화)",아트데이옥션 온라인,2021/06/30,"￦900,000"
1,27-VIII-70 #186,김환기,2015,100×72.7cm,판화,"피그먼트 프린트, 디아섹",서울옥션 온라인,2021/06/23,"￦850,000"
2,무제,김환기,1969,120.5×85.5cm,회화,코튼에 유채,K옥션,2021/06/23,"￦680,000,000"
3,27-XI-71 #211,김환기,1971,176.3×126.3cm,회화,면에 유채,서울옥션,2021/06/22,"￦3,050,000,000"
4,25-Ⅰ-68 Ⅳ,김환기,1968,58×37.4cm,회화,신문에 유채,서울옥션,2021/06/22,"￦72,000,000"

In [3]:
df['genre'].value_counts()

회화        5259
판화        3263
서예         179
서예-현판      121
기타          72
입체          53
공예           6
사진/미디어       5
공예-도자기       1
Name: genre, dtype: int64

In [4]:
df['technique'].value_counts()

석판화                  891
오프셋 석판화              847
종이에 수묵담채             829
캔버스에 유채              587
캔버스에 아크릴릭            527
                    ...
종이에 펜, 유채              1
종이에 유채, 종이에 펜, 채색      1
종이에 에나멜                1
은지화                    1
비단에 수묵채색, 금분           1
Name: technique, Length: 595, dtype: int64

In [5]:
df['source'].value_counts()

K옥션 온라인       3358
K옥션           1435
서울옥션           954
아트데이옥션 온라인     734
서울옥션 온라인       614
에이옥션 온라인       539
아이옥션           271
서울옥션 홍콩        253
서울옥션 블루        197
마이아트옥션         152
아이옥션 온라인       151
아트데이옥션         105
칸옥션            105
꼬모옥션 온라인        80
마이아트옥션 온라인      11
Name: source, dtype: int64

In [6]:
df.isnull().sum()

title           0
author          0
year         1607
standard        3
genre           0
technique      89
source          0
date            0
price           0
dtype: int64